{% extends 'layout.html'%}
{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<h1>{% translate "StatusesDeleteFormPageHeader" %}</h1>

<p>{% blocktrans %}Are you sure you want to delete the status {{ status_name }}?{% endblocktrans %}</p>

<form action="{% url 'statuses_delete' id=status_id %}" method="post">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="{% translate 'StatusesDeleteFormSubmitButton' %}">
</form>
{% endblock content %}
