{% extends 'layout.html'%}
{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<h1>{% translate "LabelsDeleteFormPageHeader" %}</h1>

<p>{% blocktrans %}Are you sure you want to delete the label {{ label_name }}?{% endblocktrans %}</p>

<form action="{% url 'labels_delete' id=label_id %}" method="post">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="{% translate 'LabelsDeleteFormSubmitButton' %}">
</form>
{% endblock content %}
