{% extends 'layout.html'%}
{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<h1>{% translate "TasksDeleteFormPageHeader" %}</h1>

<p>{% blocktrans %}Are you sure you want to delete the task {{ task_name }}?{% endblocktrans %}</p>

<form action="{% url 'tasks_delete' id=task_id %}" method="post">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="{% translate 'TasksDeleteFormSubmitButton' %}">
</form>
{% endblock content %}
