{% extends 'layout.html'%}
{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% block content %}
<h1>{% translate "TasksUpdatePageHeader" %}</h1>

<form action="{% url 'tasks_update' id=task_id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name }}
        {% if form.name.errors %}
        <div class="invalid-feedback">{{ form.name.errors }}</div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.description.label }}
        {{ form.description }}
        {% if form.description.errors %}
        <div class="invalid-feedback">{{ form.description.errors }}</div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.status.label }}
        {{ form.status }}
        {% if form.status.errors %}
        <div class="invalid-feedback">{{ form.status.errors }}</div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.executor.label }}
        {{ form.executor }}
        {% if form.executor.errors %}
        <div class="invalid-feedback">{{ form.executor.errors }}</div>
        {% endif %}
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="{% translate 'TasksUpdateFormSubmitButton' %}">
    </div>
</form>
{% endblock content %}