{% extends 'base.html'%}

{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
    {{ title }} | {% translate 'Task Manager' %}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<p>{% translate 'Are you sure you want to delete the label' %} <strong>{{ label.name }}</strong>?</p>

<form method="post">
    {% csrf_token %}
    {% bootstrap_button button_text button_type="submit" button_class="btn btn-danger" %}
</form>
{% endblock content %}
