{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Task Manager</title>
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        <style>
            body {
                padding-top: 60px;
            }
        </style>
    </head>
    <body class="bg-light">

        <header class="container mt-4">
            {% include "navigation.html" %}
        </header>
        
        <main role="main" class="container">
            {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">×</button>
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </main>

    </body>
</html>