{% extends 'base.html'%}

{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
    {{ title }} | {% translate 'Task Manager' %}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<a class="nav-link" href="{% url 'tasks_create' %}">{% translate 'Create task' %}</a>

<div class="card mb-3">
    <div class="card-body bg-light">
        <form class="form-inline center" method="get">
            {% csrf_token %}
            {% bootstrap_form filter.form field_class="ml-2 mr-3" %}
            {% bootstrap_button button_text button_type="submit" button_class="btn btn-primary" %}
        </form>
    </div>
</div>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Status' %}</th>
            <th>{% translate 'Author' %}</th>
            <th>{% translate 'Executor' %}</th>
            <th>{% translate 'Created at' %}</th>
            <th>{% translate 'Actions' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for task in filter.qs %}
        <tr>
            <td>{{ task.id }}</td>
            <td><a href="{% url 'tasks_details' task.pk %}">{{ task.name }}</a></td>
            <td>{{ task.status }}</td>
            <td>{{ task.author }}</td>
            <td>{{ task.executor }}</td>
            <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'tasks_update' task.pk %}">{% translate "Update" %}</a>
                <br>
                <a href="{% url 'tasks_delete' task.pk %}">{% translate "Delete" %}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
